.page-section {
    padding: 1.4rem 0;
    
    @media (min-width: 800px) {
        padding: 4.5rem 0;
    }
    
    &--blue {
        background-color: $mainBlue;
        color: #FFF;
    }
    
    &--testimonials {
        background: url('/assets/images/a-large.jpg') top center no-repeat;
        background-size: cover;
    }
}
